[Bb]in/
[Oo]bj/
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates
.DS_Store
frontend/bin/
frontend/obj/
BehavioralOps.Backend/bin/
BehavioralOps.Backend/obj/

behavioral_ops.db-journal
behavioral_ops.db-shm
behavioral_ops.db-wal
